*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color-text: #212832;
    --primary-color: #7264d6;
    --color-text-desc: #696d76;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: OpenSans, sans-serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

.btn {
    --height: 58px;
    /* Dùng cho thẻ a vẫn đạt được width, height */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    min-width: 113px;
    line-height: var(--height);
    font-size: 1.6rem;
    border-radius: 8px;
    color: #fff;
    background: var(--primary-color-text);
    border: none;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-title {
    position: relative;
    margin-left: 30px;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    margin-bottom: 12px;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    left: -30px;
    top: 49%;
    transform: translateY(-50%);
}

.section-heading {
    color: var(--primary-color-text);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

h3.section-heading {
    color: var(--primary-color-text);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.section-main-desc {
    margin-top: 20px;
    color: var(--color-text-desc);
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.section-sub-desc {
    margin-top: 18px;
    color: var(--color-text-desc);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.key-word {
    color: var(--primary-color);
}

/* ===== Header ===== */
.header {
    margin-top: 26px;
    padding: 16px 0;
}

.header.fixed {
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 999;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: 70px;
    width: 355px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    align-items: center;
}

.navbar__link {
    color: var(--color-text-desc);
}

.navbar__link.navbar__link--active {
    position: relative;
    color: var(--primary-color-text);
    font-weight: 600;
}

.navbar__link--active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 9px;
    width: 47px;
    height: 1px;
    background: var(--primary-color);
}

.header-action__link,
.navbar__link {
    padding: 10px;
    line-height: 1.75; /* 175% */
}

.header-action__link {
    font-weight: 600;
    color: var(--primary-color-text);
    padding: 17px 34px;
}

.header-action__link:hover {
    background: #ccc;
    border-radius: 8px;
}

.header-action__btn {
    margin-left: 28px;
}

/* ===== Hero ===== */
.hero {
    margin-top: 60px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* === Hero content === */
.hero-content {
    width: 500px;
}

.hero-cta {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.hero-input {
    padding: 0 23px;
    outline: none;
    border: none;
    width: inherit;
    height: inherit;
}

.hero-input:placeholder {
    color: var(--color-text-desc);
    font-family: "Open Sans";
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.hero-cta__btn {
    margin-right: 8px;
    width: 149px;
    background: var(--primary-color);
}

.hero__comment {
    margin-top: 20px;
    color: var(--color-text-desc);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

/* === Hero media === */
.hero-media {
    width: 48.72%;
}
